<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<title>和文天下</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="/static/css/style.css?v=1">
  <link rel="icon" href="/static/images/logo.png" type="image/x-icon"> 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="viewport" content="target-densitydpi=device-dpi, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]--> 

	<!--[if lt IE 7]>
		<link rel="stylesheet" type="text/css" media="all" href="css/ie7.css" />
		<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE7.js"></script>
	<![endif]-->
	
	<!--[if IE 7]>
		<link rel="stylesheet" type="text/css" media="all" href="css/ie7.css" />
	<![endif]-->
				
	<!-- All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects -->
	<script src="/static/js/modernizr-1.5.min.js"></script>
	 <style type="text/css">  
    #box{width:300px;font-size:12px;float:left;padding:0 0 0 20px;}  
    #box ul{margin:0;padding:20px 0 0 0;list-style:none}  
    #box #tab{height:26px;border:1px;border-bottom:1px solid #dfdfdf;}  
    #box #tab li{width:100px;height:18px;padding-top:8px;margin-right:10px;margin-left:0px;text-align:center;float:left;cursor:pointer;position:relative;top:1px;background:#7E7E80;border-top-left-radius:15px;border-top-right-radius:15px;}  
    #box #tab li.on{color:#000;background:#d6d9dd;background-position:-110px 0;border:1px solid #7E7E80;border-bottom:none;}  
    #box #tab_con{border:1px solid #7E7E80;padding:20px;}  
    #box #tab_con li{display:none}  
    #box #tab_con #tab_con_1{display:block}  
    </style>  

</head>
<body class="indexbody">

	<!-- Let's Start! -->
	<div id="wrapper" class="clearfix">

		<!-- =styleswitcher -->


		<div id="indexcontainer" class="container_12">
	
			<!-- =Header -->
			<div id="header">
	
				<!-- =Logo -->
				<div style="width:65%;height:50px;background: #7E7E80;margin:0 auto;">
					<div id="logo" class="grid_4">
						<a href="/cn/index/"><img src="/static/images/logo.png" width=50px height=50px alt="和文" /></a>
					</div>

				<!-- =Menu -->
				  
						<nav id="nt_nav">
							<ul id="navigation">
								<li><a href="/cn/contact/">联系我们</a></li>
								<li><a href="/cn/hr/">在线招聘</a></li>
								<li><a href="/cn/service/">服务中心</a></li>
					
						
							<li><a href="/cn/release/">出版发行</a>
									<ul class="sub-menu"> 
										<li><a href="/cn/bookprod/">图书产品</a></li>
										<HR style="height:1px;line-height:1px;border:none;margin:0;padding:0;overflow:hidden;"  width="100%" color="white" SIZE=1 />	
										<li><a href="/cn/partners/">合作伙伴</a></li>
										<HR style="height:1px;line-height:1px;border:none;margin:0;padding:0;overflow:hidden;"  width="100%" color="white" SIZE=1 />	
										<li><a href="/cn/bookservice/">图书服务</a></li>
						
									</ul> 
								</li><!-- end about -->
								<li><a href="/cn/news/">新闻资讯</a>
									<ul class="sub-menu"> 
										<li><a href="/cn/news/">公司新闻</a></li>
										<HR style="height:1px;line-height:1px;border:none;margin:0;padding:0;overflow:hidden;"  width="100%" color="white" SIZE=1 />	
										<li><a href="/cn/othernews/">行业资讯</a></li>
									
									</ul>
								</li>
								<li><a href="/cn/hewentong/">和文通</a>
									<ul class="sub-menu"> 
										<li><a href="/cn/hwtprod/">和文通产品</a></li>
										<HR style="height:1px;line-height:1px;border:none;margin:0;padding:0;overflow:hidden;"  width="100%" color="white" SIZE=1 />	
										<li><a href="/cn/hwtsoftware/">和文通软件</a></li>
										<HR style="height:1px;line-height:1px;border:none;margin:0;padding:0;overflow:hidden;"  width="100%" color="white" SIZE=1 />	
										<li><a href="/cn/hwtsource/">和文通资源库</a></li>
									</ul>	
							
								</li>
						
								<li><a href="/cn/about/">关于和文</a>
									<ul class="sub-menu"> 
								<li><a href="/cn/about/1/">公司简介</a></li>
								    <HR style="height:1px;line-height:1px;border:none;margin:0;padding:0;overflow:hidden;"  width="100%" color="white" SIZE=1 />	
										<li><a href="/cn/about/2/">企业文化</a></li>
										<HR style="height:1px;line-height:1px;border:none;margin:0;padding:0;overflow:hidden;"  width="100%" color="white" SIZE=1 />	
								<li><a href="/cn/about/3/">企业荣誉</a></li>
							</ul>							
						</li>
						<li><a href="/cn/index/" class="current">首页</a></li>
					</ul>
					</nav><!-- #nt_nav -->
				
			</div>
				<div class="clear"></div>

			</div><!-- #header -->
	
		

			<!-- =Slider -->
			<div id="slider1_container" style="position: relative; margin: 0 auto;
        top: 0px; left: 0px; width: 1900px; height: 625px; overflow: hidden;">
        <!-- Loading Screen -->
        <div u="loading" style="position: absolute; top: 0px; left: 0px;">
            <div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block;
                top: 0px; left: 0px; width: 100%; height: 100%;">
            </div>
            <div style="position: absolute; display: block; background: url(/static/images/loading.gif) no-repeat center center;
                top: 0px; left: 0px; width: 100%; height: 100%;">
            </div>
        </div>
        <!-- Slides Container -->
        <div u="slides" style="cursor: move; position: absolute; left: 0px; top: 0px; width: 1900px;
            height: 625px; overflow: hidden;">
            <div>
                <img style="border:0px;" u="image" src="/static/images/slider/mainpage1.gif" />
             
             
            </div>
            <div>
                <img style="border:0px;" u="image" src="/static/images/slider/mainpage2.jpg" />
                
            </div>
            <div>
                <img style="border:0px;" u="image" src="/static/images/slider/mainpage3.jpg" />
               
            </div>
            <div>
                <img style="border:0px;" u="image" src="/static/images/slider/mainpage4.gif" />
               
            </div>
            <div>
                <img style="border:0px;" u="image" src="/static/images/slider/mainpage5.gif" />
               
            </div>
            <div>
                <img style="border:0px;" u="image" src="/static/images/slider/mainpage6.gif" />
               
            </div>
            <div>
                <img style="border:0px;" u="image" src="/static/images/slider/mainpage7.jpg" />
               
            </div>
            
        </div>
                
        <!-- Bullet Navigator Skin Begin -->
        <style>
            /* jssor slider bullet navigator skin 21 css */
            /*
            .jssorb21 div           (normal)
            .jssorb21 div:hover     (normal mouseover)
            .jssorb21 .av           (active)
            .jssorb21 .av:hover     (active mouseover)
            .jssorb21 .dn           (mousedown)
            */
            .jssorb21 div, .jssorb21 div:hover, .jssorb21 .av
            {
                background: url(/static/images/b05.png) no-repeat;
                overflow:hidden;
                cursor: pointer;
            }
            .jssorb21 div { background-position: -5px -5px; }
            .jssorb21 div:hover, .jssorb21 .av:hover { background-position: -35px -5px; }
            .jssorb21 .av { background-position: -65px -5px; }
            .jssorb21 .dn, .jssorb21 .dn:hover { background-position: -95px -5px; }
        </style>
        <!-- bullet navigator container -->
        <div u="navigator" class="jssorb21" style="position: absolute; bottom: 26px; left: 6px;">
            <!-- bullet navigator item prototype -->
            <div u="prototype" style="POSITION: absolute; WIDTH: 19px; HEIGHT: 19px; text-align:center; line-height:19px; color:White; font-size:12px;"></div>
        </div>
        <!-- Bullet Navigator Skin End -->

        <!-- Arrow Navigator Skin Begin -->
        <style>
            /* jssor slider arrow navigator skin 21 css */
            /*
            .jssora21l              (normal)
            .jssora21r              (normal)
            .jssora21l:hover        (normal mouseover)
            .jssora21r:hover        (normal mouseover)
            .jssora21ldn            (mousedown)
            .jssora21rdn            (mousedown)
            */
            .jssora21l, .jssora21r, .jssora21ldn, .jssora21rdn
            {
            	position: absolute;
            	cursor: pointer;
            	display: block;
                background: url(/static/images/a21.png) center center no-repeat;
                overflow: hidden;
            }
            .jssora21l { background-position: -3px -33px; }
            .jssora21r { background-position: -63px -33px; }
            .jssora21l:hover { background-position: -123px -33px; }
            .jssora21r:hover { background-position: -183px -33px; }
            .jssora21ldn { background-position: -243px -33px; }
            .jssora21rdn { background-position: -303px -33px; }
        </style>
        <!-- Arrow Left -->
        <span u="arrowleft" class="jssora21l" style="width: 55px; height: 55px; top: 123px; left: 8px;">
        </span>
        <!-- Arrow Right -->
        <span u="arrowright" class="jssora21r" style="width: 55px; height: 55px; top: 123px; right: 8px">
        </span>
        <!-- Arrow Navigator Skin End -->
        <a style="display: none" href="http://www.jssor.com">jQuery Slider</a>
    </div>
    
    
    
    
    
        <div class="hr grid_12 clearfix boxhr"></div>   
        
         
            <section class="box_entries grid_12">
            	<div class="company">
            		<div id="box">  
       						<ul id="tab">  
           						<li class="on" id="tab_1" onClick="switchTab(1)" style="list-style:none">公司新闻</li>  
           						<li id="tab_2" onClick="switchTab(2)" style="list-style:none">行业新闻</li>  
         
       						</ul>  
       					<ul id="tab_con">  
           						<li id="tab_con_1"><div>
           							          <table>


{% for new in news_list %}
<tr>

                                         <td style="text-align:left;"><a href="/cn/news/{{ new.id }}"><img style="border:0;" src="/static/images/islink_m.png" width="10" height="10" /> {{ new.title }} </a></td>

</tr>
{% endfor %}
																</table></div></li>  
          						<li id="tab_con_2">行业资讯</li>  
             
       					</ul>  
   						  </div>
   						  
   						  <div style="float:left;width:300px;font-size:12px;padding:32px 0 0 20px;">产品中心<br><br><br><a href="/cn/vedio/1"><img src="/static/images/prodcenter.png" title="产品中心"></a></div> 
   						  
   							<div style="float:left;width:250px;font-size:12px;padding:32px 0 0 20px;">服务承诺<br><br><br><img style="border:0;" src="/static/images/service.jpg" height="180" width="250" alt="服务承诺"></div>
   						</div>
            	</section>
    	
		<!-- =Footer -->
		
		<footer id="footer">
			<div class="foot">
			<img style="border: none;margin: 0;padding: 0;" src="/static/images/footer.png" height="80" alt="和文">
	
			
			</div>
		</footer>
	
	</div><!-- #wrapper -->
	
	
	<!-- Javascript at the bottom for fast page loading -->	
	
	<!-- Grab Google CDN's jQuery. fall back to local if necessary -->
	<script src="/static/js/jquery.min.js"></script>
	<script>!window.jQuery && document.write('<script src="/static/js/jquery-1.4.2.min.js"><\/script>')</script>
	
	<!-- =Menu -->
	<script src="/static/js/nt_nav.js"></script>

	<!-- =Contact -->
	<script src="/static/js/contact.js"></script>
	
	<!-- =styleswitcher -->
	<script src="/static/js/styleswitcher.js"></script>
	
	<!-- =Prettyphoto -->
	<script src="/static/js/jquery.prettyPhoto.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			$("a.portfolio_item[rel^='prettyPhoto'], a.isphoto_m[rel^='prettyPhoto'], a.isphoto_b[rel^='prettyPhoto'], a.isvideo_m[rel^='prettyPhoto'], a.isvideo_b[rel^='prettyPhoto'], a.islink_mini[rel^='prettyPhoto'], a.islink_m[rel^='prettyPhoto']").prettyPhoto({
			animationSpeed: 'slow',
			theme: 'nitro_dark_rounded',
			slideshow: 4000,
			autoplay_slideshow: false});
		});
	</script>

 <script type="text/javascript">  
   function switchTab(n){  
    for(var i = 1; i <= 2; i++){  
    document.getElementById("tab_" + i).className = "";  
     document.getElementById("tab_con_" + i).style.display = "none";  
    }  
    document.getElementById("tab_" + n).className = "on";  
    document.getElementById("tab_con_" + n).style.display = "block";  
   }  
   </script>  




	<!-- =Cufon -->
	<script src="/static/js/cufon-yui.js?v=1.09"></script>
	<script src="/static/js/lab.font.js"></script>
	
	
	<!-- Call =Coin Slider -->
	<script src="/static/js/coin-slider.min.js"></script>

	
	<!-- =Tooltip -->
	<script src="/static/js/tooltip.min.js"></script>
	<script type="text/javascript">
	jQuery(function() {
		//tooltip
		$("a .tooltip").addClass("tooltip");
		tooltip();  		
	});
	</script>
	
	<!-- =Truncate -->
	<script src="/static/js/jquery.jtruncate.pack.js"></script>
	<script type="text/javascript">
	$().ready(function() {  
		$('h4.title').jTruncate({  
			length: 14,
			minTrail: 0,
			moreText: "", //[see all]
			lessText: "", //[hide extra]
			ellipsisText: "", // (truncated)
			moreAni: "", // fast
			lessAni: 2000
		});
	});
	</script>
	
	<!-- it works the same with all jquery version from 1.x to 2.x -->
    <script type="text/javascript" src="/static/js/jquery-1.9.1.min.js"></script>
    <!-- use jssor.slider.mini.js (40KB) instead for release -->
    <!-- jssor.slider.mini.js = (jssor.js + jssor.slider.js) -->
    <script type="text/javascript" src="/static/js/jssor.js"></script>
    <script type="text/javascript" src="/static/js/jssor.slider.js"></script>
    <script>
        jQuery(document).ready(function ($) {

            var _CaptionTransitions = [];
            _CaptionTransitions["L"] = { $Duration: 900, x: 0.6, $Easing: { $Left: $JssorEasing$.$EaseInOutSine }, $Opacity: 2 };
            _CaptionTransitions["R"] = { $Duration: 900, x: -0.6, $Easing: { $Left: $JssorEasing$.$EaseInOutSine }, $Opacity: 2 };
            _CaptionTransitions["T"] = { $Duration: 900, y: 0.6, $Easing: { $Top: $JssorEasing$.$EaseInOutSine }, $Opacity: 2 };
            _CaptionTransitions["B"] = { $Duration: 900, y: -0.6, $Easing: { $Top: $JssorEasing$.$EaseInOutSine }, $Opacity: 2 };
            _CaptionTransitions["ZMF|10"] = { $Duration: 900, $Zoom: 11, $Easing: { $Zoom: $JssorEasing$.$EaseOutQuad, $Opacity: $JssorEasing$.$EaseLinear }, $Opacity: 2 };
            _CaptionTransitions["RTT|10"] = { $Duration: 900, $Zoom: 11, $Rotate: 1, $Easing: { $Zoom: $JssorEasing$.$EaseOutQuad, $Opacity: $JssorEasing$.$EaseLinear, $Rotate: $JssorEasing$.$EaseInExpo }, $Opacity: 2, $Round: { $Rotate: 0.8} };
            _CaptionTransitions["RTT|2"] = { $Duration: 900, $Zoom: 3, $Rotate: 1, $Easing: { $Zoom: $JssorEasing$.$EaseInQuad, $Opacity: $JssorEasing$.$EaseLinear, $Rotate: $JssorEasing$.$EaseInQuad }, $Opacity: 2, $Round: { $Rotate: 0.5} };
            _CaptionTransitions["RTTL|BR"] = { $Duration: 900, x: -0.6, y: -0.6, $Zoom: 11, $Rotate: 1, $Easing: { $Left: $JssorEasing$.$EaseInCubic, $Top: $JssorEasing$.$EaseInCubic, $Zoom: $JssorEasing$.$EaseInCubic, $Opacity: $JssorEasing$.$EaseLinear, $Rotate: $JssorEasing$.$EaseInCubic }, $Opacity: 2, $Round: { $Rotate: 0.8} };
            _CaptionTransitions["CLIP|LR"] = { $Duration: 900, $Clip: 15, $Easing: { $Clip: $JssorEasing$.$EaseInOutCubic }, $Opacity: 2 };
            _CaptionTransitions["MCLIP|L"] = { $Duration: 900, $Clip: 1, $Move: true, $Easing: { $Clip: $JssorEasing$.$EaseInOutCubic} };
            _CaptionTransitions["MCLIP|R"] = { $Duration: 900, $Clip: 2, $Move: true, $Easing: { $Clip: $JssorEasing$.$EaseInOutCubic} };

            var options = {
                $FillMode: 2,                                       //[Optional] The way to fill image in slide, 0 stretch, 1 contain (keep aspect ratio and put all inside slide), 2 cover (keep aspect ratio and cover whole slide), 4 actual size, 5 contain for large image, actual size for small image, default value is 0
                $AutoPlay: true,                                    //[Optional] Whether to auto play, to enable slideshow, this option must be set to true, default value is false
                $AutoPlayInterval: 4000,                            //[Optional] Interval (in milliseconds) to go for next slide since the previous stopped if the slider is auto playing, default value is 3000
                $PauseOnHover: 1,                                   //[Optional] Whether to pause when mouse over if a slider is auto playing, 0 no pause, 1 pause for desktop, 2 pause for touch device, 3 pause for desktop and touch device, 4 freeze for desktop, 8 freeze for touch device, 12 freeze for desktop and touch device, default value is 1

                $ArrowKeyNavigation: true,   			            //[Optional] Allows keyboard (arrow key) navigation or not, default value is false
                $SlideEasing: $JssorEasing$.$EaseOutQuint,          //[Optional] Specifies easing for right to left animation, default value is $JssorEasing$.$EaseOutQuad
                $SlideDuration: 800,                               //[Optional] Specifies default duration (swipe) for slide in milliseconds, default value is 500
                $MinDragOffsetToSlide: 20,                          //[Optional] Minimum drag offset to trigger slide , default value is 20
                //$SlideWidth: 600,                                 //[Optional] Width of every slide in pixels, default value is width of 'slides' container
                //$SlideHeight: 300,                                //[Optional] Height of every slide in pixels, default value is height of 'slides' container
                $SlideSpacing: 0, 					                //[Optional] Space between each slide in pixels, default value is 0
                $DisplayPieces: 1,                                  //[Optional] Number of pieces to display (the slideshow would be disabled if the value is set to greater than 1), the default value is 1
                $ParkingPosition: 0,                                //[Optional] The offset position to park slide (this options applys only when slideshow disabled), default value is 0.
                $UISearchMode: 1,                                   //[Optional] The way (0 parellel, 1 recursive, default value is 1) to search UI components (slides container, loading screen, navigator container, arrow navigator container, thumbnail navigator container etc).
                $PlayOrientation: 1,                                //[Optional] Orientation to play slide (for auto play, navigation), 1 horizental, 2 vertical, 5 horizental reverse, 6 vertical reverse, default value is 1
                $DragOrientation: 1,                                //[Optional] Orientation to drag slide, 0 no drag, 1 horizental, 2 vertical, 3 either, default value is 1 (Note that the $DragOrientation should be the same as $PlayOrientation when $DisplayPieces is greater than 1, or parking position is not 0)

                $CaptionSliderOptions: {                            //[Optional] Options which specifies how to animate caption
                    $Class: $JssorCaptionSlider$,                   //[Required] Class to create instance to animate caption
                    $CaptionTransitions: _CaptionTransitions,       //[Required] An array of caption transitions to play caption, see caption transition section at jssor slideshow transition builder
                    $PlayInMode: 1,                                 //[Optional] 0 None (no play), 1 Chain (goes after main slide), 3 Chain Flatten (goes after main slide and flatten all caption animations), default value is 1
                    $PlayOutMode: 3                                 //[Optional] 0 None (no play), 1 Chain (goes before main slide), 3 Chain Flatten (goes before main slide and flatten all caption animations), default value is 1
                },

                $BulletNavigatorOptions: {                          //[Optional] Options to specify and enable navigator or not
                    $Class: $JssorBulletNavigator$,                 //[Required] Class to create navigator instance
                    $ChanceToShow: 2,                               //[Required] 0 Never, 1 Mouse Over, 2 Always
                    $AutoCenter: 1,                                 //[Optional] Auto center navigator in parent container, 0 None, 1 Horizontal, 2 Vertical, 3 Both, default value is 0
                    $Steps: 1,                                      //[Optional] Steps to go for each navigation request, default value is 1
                    $Lanes: 1,                                      //[Optional] Specify lanes to arrange items, default value is 1
                    $SpacingX: 8,                                   //[Optional] Horizontal space between each item in pixel, default value is 0
                    $SpacingY: 8,                                   //[Optional] Vertical space between each item in pixel, default value is 0
                    $Orientation: 1                                 //[Optional] The orientation of the navigator, 1 horizontal, 2 vertical, default value is 1
                },

                $ArrowNavigatorOptions: {                           //[Optional] Options to specify and enable arrow navigator or not
                    $Class: $JssorArrowNavigator$,                  //[Requried] Class to create arrow navigator instance
                    $ChanceToShow: 1,                               //[Required] 0 Never, 1 Mouse Over, 2 Always
                    $AutoCenter: 2,                                 //[Optional] Auto center arrows in parent container, 0 No, 1 Horizontal, 2 Vertical, 3 Both, default value is 0
                    $Steps: 1                                       //[Optional] Steps to go for each navigation request, default value is 1
                }
            };

            var jssor_slider1 = new $JssorSlider$("slider1_container", options);

            //responsive code begin
            //you can remove responsive code if you don't want the slider scales while window resizes
            function ScaleSlider() {
                var bodyWidth = document.body.clientWidth;
                if (bodyWidth)
                    jssor_slider1.$ScaleWidth(Math.min(bodyWidth, 1920));
                else
                    window.setTimeout(ScaleSlider, 30);
            }
            ScaleSlider();

            $(window).bind("load", ScaleSlider);
            $(window).bind("resize", ScaleSlider);
            $(window).bind("orientationchange", ScaleSlider);
            //responsive code end
        });
    </script>
    <!-- Jssor Slider Begin -->
    <!-- You can move inline styles to css file or css block. -->


</body>
</html>
