<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<title>和文天下</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="/static/css/style.css?v=1">
<link rel="icon" href="/static/images/logo.png" type="image/x-icon"> 

	<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]--> 

	<!--[if lt IE 7]>
		<link rel="stylesheet" type="text/css" media="all" href="css/ie7.css" />
		<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE7.js"></script>
	<![endif]-->
	
	<!--[if IE 7]>
		<link rel="stylesheet" type="text/css" media="all" href="css/ie7.css" />
	<![endif]-->
				
	<!-- All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects -->
	<script src="/static/js/modernizr-1.5.min.js"></script>
	 <style type="text/css">  
    #box{width:650px;font-size:12px;float:left;padding:0 0 0 20px;}  
    #box ul{margin:0;padding:0;list-style:none}  
    #box #tab{height:26px;border:1px;border-bottom:1px solid #dfdfdf;}  
    #box #tab li{width:100px;height:18px;padding-top:8px;margin-right:10px;margin-left:0px;text-align:center;float:left;cursor:pointer;position:relative;top:1px;background:#7E7E80;border-top-left-radius:15px;border-top-right-radius:15px;}  
    #box #tab li.on{color:#000;background:#fff;background-position:-110px 0;border:1px solid #7E7E80;border-bottom:none;}  
    #box #tab_con{border:1px solid #7E7E80;padding:20px;}  
    #box #tab_con li{display:none}  
    #box #tab_con #tab_con_3{display:block}  
    </style>  

</head>
<body>

	<!-- Let's Start! -->
	<div id="wrapper" class="clearfix">

		<!-- =styleswitcher -->


		<div id="container" class="container_12 clearfix">
	
			<div id="header">
	
				<!-- =Logo -->
				<div style="width:65%;height:50px;background: #7E7E80;margin:0 auto;">
					<div id="logo" class="grid_4">
						<a href="/cn/index/"><img src="/static/images/logo.png" width=50px height=50px alt="和文" /></a>
					</div>

				<!-- =Menu -->
				  
						<nav id="nt_nav">
							<ul id="navigation">
								<li><a href="/cn/contact/">联系我们</a></li>
								<li><a href="/cn/hr/">在线招聘</a></li>
								<li><a href="/cn/service/">服务中心</a></li>
					
						
							<li><a href="/cn/release/">出版发行</a>
									<ul class="sub-menu"> 
										<li><a href="/cn/bookprod/">图书产品</a></li>
										<HR style="height:1px;line-height:1px;border:none;margin:0;padding:0;overflow:hidden;"  width="100%" color="white" SIZE=1 />	
										<li><a href="/cn/partners/">合作伙伴</a></li>
										<HR style="height:1px;line-height:1px;border:none;margin:0;padding:0;overflow:hidden;"  width="100%" color="white" SIZE=1 />	
										<li><a href="/cn/bookservice/">图书服务</a></li>
						
									</ul> 
								</li><!-- end about -->
								<li><a href="/cn/news/">新闻资讯</a>
									<ul class="sub-menu"> 
										<li><a href="/cn/news/">公司新闻</a></li>
										<HR style="height:1px;line-height:1px;border:none;margin:0;padding:0;overflow:hidden;"  width="100%" color="white" SIZE=1 />	
										<li><a href="/cn/othernews/">行业资讯</a></li>
									
									</ul>
								</li>
								<li><a href="/cn/hewentong/">和文通</a>
									<ul class="sub-menu"> 
										<li><a href="/cn/hwtprod/">和文通产品</a></li>
										<HR style="height:1px;line-height:1px;border:none;margin:0;padding:0;overflow:hidden;"  width="100%" color="white" SIZE=1 />	
										<li><a href="/cn/hwtsoftware/">和文通软件</a></li>
										<HR style="height:1px;line-height:1px;border:none;margin:0;padding:0;overflow:hidden;"  width="100%" color="white" SIZE=1 />	
										<li><a href="/cn/hwtsource/">和文通资源库</a></li>
									</ul>	
							
								</li>
						
								<li><a href="/cn/about/"  class="current">关于和文</a>
									<ul class="sub-menu"> 
								<li><a href="/cn/about/1/">公司简介</a></li>
								    <HR style="height:1px;line-height:1px;border:none;margin:0;padding:0;overflow:hidden;"  width="100%" color="white" SIZE=1 />	
										<li><a href="/cn/about/2/">企业文化</a></li>
										<HR style="height:1px;line-height:1px;border:none;margin:0;padding:0;overflow:hidden;"  width="100%" color="white" SIZE=1 />	
								<li><a href="/cn/about/3/">企业荣誉</a></li>
							</ul>							
						</li>
						<li><a href="/cn/index/">首页</a></li>
					</ul>
					</nav><!-- #nt_nav -->
				
			</div>
				<div class="clear"></div>

			</div><!-- #header -->
	
		<div style="width:100%">
				<div>
				<img style="border:0px;" src="/static/images/about.jpg" width="100%" height="384px" />
				</div>
				<div style="width:100%">
							<div style="width:40%;float:left;">
								<div style="float:right;padding:60px;width:201px;">
								<div style="line-height:25px;"><h4><font face="verdana" color="grey">About Us</font></h4>关于我们</div><img src="/static/images/about_logo.png"  border="10px" width="200px" />
									<br><br><div  style="text-indent: 2em;"><p>作为公司我们是经营文化产品，作为媒介我们是传播文化的介质。那些需要我们去继承的和发扬的精神和品格，我们不遗余力。关键是我们自身想要的是什么？和是一种交融、传递、沟通，闻见世界方能文达天下。</p></div>
								</div>
							</div>
							<div "float:left;">
								<div id="box" style="float:left;padding:60px;">  
       						<ul id="tab">  
           						<li class="on" id="tab_1" onClick="switchTab(1)" style="list-style:none">公司简介</li>  
           						<li id="tab_2" onClick="switchTab(2)" style="list-style:none">企业文化</li>
           						<li id="tab_3" onClick="switchTab(3)" style="list-style:none">企业荣誉</li>  
         
       						</ul>  
       					<ul id="tab_con">  
           						<li id="tab_con_1"><div  style="text-indent: 2em;"><p>北京和文天下传媒文化有限公司，注册资金1502万主要从事图书发行（具有国家二级图书发行资格证）、销售，现有图书品种达6万多种，库房仓储7000多平方，1亿元以上的码洋库存夯实了公司的供货能力。现与全国400多家出版社建立长期合作关系，近4年内，平均每年参与全国中小学图书改造项目达50多起。目前，已经收集各地方出版社的样书目录达20余万种，并及时跟踪各出版社样书和库存资讯，加大对各地方出版社及大学版图书的合作力度，确保地方版样书库的覆盖面广的特点，尽全力只为满足用户单位的需求。</p>
<p>在个人市场公司将与国内优秀作家合作致力于为城市新兴中产阶级打造优质的、多媒体形式的文化产品。</p>
<p>公司在赢的效益的同时，也为中国的教育事业贡献了绵薄之力。为了改变在数字图书建设方面的空白，公司现正在紧锣密鼓的进行数字图书馆及一体化多媒体教学方面的建设工作，预计年底就能有库容量达60多万册的电子图书平台就能投入使用。</p>
<p>和文天下为了响应国家在十二五期间提出的教育信息化建设的核心目标与标志工程“三通两平台”的建设。围绕国家“三通两平台”的建设目标，以班班通资源平台为核心，依托云服务平台将丰富优质的教学资源和多样的教学应用引入教学课堂。以班班通产品带动“宽带网络校校通”，实现“优质教育资源班班通”，通过向学生和家长的服务延伸，推动“网络学习空间人人通”。特地组织吸引科技研发人才队伍，创立“和文通”品牌，针对国家“班班通”项目进行研发生产工作，联合一些知名电子科技企业为公司的产品把关。现“和文通”已经能够成熟的为“班班通”“农远工程”提供、定制多样性的多媒体教学的解决方案。为实现教育教学将彻底打破教室、教师、校园的界限，实现局域、城域无界限。校校互通、班班互联、资源共享，进一步推动我国教育信息化向纵深发展，激发教师的实践激情和学习需求，探索各学科与信息技术深层次整合的模式与方法，提升信息化教学的实践性，最终全面提升基础教育教学质量，贡献自己的力量。也努力将自己打造成为一家集图书出版、信息化多媒体教育的综合性文化传播公司。
	</p></div></li>  
          						<li id="tab_con_2"> <div  style="text-indent: 2em;"><p>作为公司我们是经营文化产品，作为媒介我们是传播文化的介质。那些需要我们去继承的和发扬的精神和品格，我们不遗余力。关键是我们自身想要的是什么？和是一种交融、传递、沟通，闻见世界方能文达天下。</p>
<div style="text-align:right">-----总经理：聂结东 </div>
                                                                                           
<div>
<br>
愿景：<br>
在中国的文化领域、教育文化产业领域处处留有我们的身影。<br>
<br>
使命：<br>
做文化的传播者。<br>
<br>
价值观：<br>
传递、沟通、合作、创新。<br>
<br>
经营理念：<br>
以文化传播为中心，一切以用户价值为依归。<br>
<br>
<br>
团队介绍：<br>
    <p>北京和文天下有产品、市场、编辑、售后、财务、人力资源共5个部门，现有员工134名，其中市场部和产品部门员工在在图书发行行业的供职平均工作经验达3年以上，这是一支团结、年轻、充满活力的队伍。</p>
    <p>如果你有一个梦想是为了传播中国文化，如果你一个梦想是让自己能够为中国教育事业略尽绵薄之力，那么请加入我们，让我们携手共创美好的明天。</p>

团队精神：<br>
<br>
一、目标宗旨：<br>
如果我们走在路上，但却在路上浑浑噩噩不知道自己该坚守什么，追求什么，那么彼岸也就离我们越来越远。目标坚定，才能一路向前。<br>
<br>
二、创新：<br>
创新已经写进了企业价值观里面，那么企业的创新在于团队的创新，团队的创新取决于个人的共同努力，努力就要不断的学习，创新与学习是一个持续不间断的过程。<br>
<br>
三、凝聚自律：<br>
团队与个人的区别，就在于一根筷子和一把筷子的区别，也在于木桶定律。为了一个集体的利益，可能我们每个人都要舍弃一些东西是为了成全大局，凝聚自律就显得尤为重要，既然成为了团队的一员，我们每个人都应该不遗余力的发挥我们身上的光和热，同时还要改进我们的不足，不做木桶最短的那块。
<br>
<br>
四、危机感：<br>
现在没有三十年河东三十年河西这个概念，只有分分钟的概念。分分钟你就能被人打败，无远虑必有近忧。如果你有主人翁的精神，那么你就准备好了一切。<br>
</div>
</li>  
             					<li id="tab_con_3">
             						<div>
             							<table style="border:0;width:600px;margin:auto;">
             								<tr style="padding:10px;">
             									<td  style="padding:10px;"><img src="/static/images/honor/1.jpg" width="100px" height="143px"></td>
             									<td  style="padding:10px;"><img src="/static/images/honor/2.jpg" width="100px" height="143px"></td>
             									<td  style="padding:10px;"><img src="/static/images/honor/3.jpg" width="100px" height="143px"></td>
             									<td  style="padding:10px;"><img src="/static/images/honor/4.jpg" width="100px" height="143px"></td>
             								</tr>
             								<tr  style="padding:10px;">
             									<td  style="padding:10px;"><img src="/static/images/honor/5.jpg" width="100px" height="143px"></td>
             									<td  style="padding:10px;"><img src="/static/images/honor/6.jpg" width="100px" height="143px"></td>
             									<td  style="padding:10px;"><img src="/static/images/honor/7.jpg" width="100px" height="143px"></td>
             									<td  style="padding:10px;"><img src="/static/images/honor/8.jpg" width="100px" height="143px"></td>
             								</tr>
             								
             							</table>
             								
             							<table style="border:0;width:600px;margin:auto;">
             								<tr style="padding:10px;">
             									<td style="padding:10px;"><img src="/static/images/honor/9.jpg" width="143px" height="100px"></td>
             									
             								</tr>
             						 </table>
   	
             					</div>
             						
             						
             						
             						
             						</li>  
       					</ul>  
   							</div>
   						</div>
				</div>
					
				
			</div>

		<!-- =Footer -->
		
		<footer id="footer">
			<div class="foot">
			<img style="border: none;margin: 0;padding: 0;" src="/static/images/footer.png" height="80" alt="和文">
	
			
			</div>
		</footer>
	
	</div><!-- #wrapper -->
	
	
	<!-- Javascript at the bottom for fast page loading -->	
	
	<!-- Grab Google CDN's jQuery. fall back to local if necessary -->
	<script src="/static/js/jquery.min.js"></script>
	<script>!window.jQuery && document.write('<script src="js/jquery-1.4.2.min.js"><\/script>')</script>
	
	<!-- =Menu -->
	<script src="/static/js/nt_nav.js"></script>

	<!-- =Contact -->
	<script src="/static/js/contact.js"></script>
	
	<!-- =styleswitcher -->
	<script src="/static/js/styleswitcher.js"></script>
	
	<!-- =Prettyphoto -->
	<script src="/static/js/jquery.prettyPhoto.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			$("a.portfolio_item[rel^='prettyPhoto'], a.isphoto_m[rel^='prettyPhoto'], a.isphoto_b[rel^='prettyPhoto'], a.isvideo_m[rel^='prettyPhoto'], a.isvideo_b[rel^='prettyPhoto'], a.islink_mini[rel^='prettyPhoto'], a.islink_m[rel^='prettyPhoto']").prettyPhoto({
			animationSpeed: 'slow',
			theme: 'nitro_dark_rounded',
			slideshow: 4000,
			autoplay_slideshow: false});
		});
	</script>

 <script type="text/javascript">  
   function switchTab(n){  
    for(var i = 1; i <= 3; i++){  
    document.getElementById("tab_" + i).className = "";  
     document.getElementById("tab_con_" + i).style.display = "none";  
    }  
    document.getElementById("tab_" + n).className = "on";  
    document.getElementById("tab_con_" + n).style.display = "block";  
   }  
   </script>  




	<!-- =Cufon -->
	<script src="/static/js/cufon-yui.js?v=1.09"></script>
	<script src="/static/js/lab.font.js"></script>
	<script type="text/javascript">
		Cufon.replace('h1, h2, h3, h4:not(.nocufon), h5, h6, .heading_page, .search_text');
	</script>
	
	<!-- Call =Coin Slider -->
	<script src="/static/js/coin-slider.min.js"></script>
	<script type="text/javascript">
	$(document).ready(function() {
		$('#coin-slider').coinslider({
			width: 960, // width of slider panel
			height: 459, // height of slider panel	// 459 default -1px for img margins error
			spw: 4,  // squares per width - 5 by default
			sph: 2, // squares per height - 3 by default
			delay: 3000, // delay between images in ms - 3000 by default
			sDelay: 30, // delay beetwen squares in ms - 30 by default
			opacity: 0.8, // opacity of title and navigation - 0.8 by default
			titleSpeed: 500, // speed of title appereance in ms - 500 by default
			effect: '', // random, swirl, rain, straight - empty by default
			navigation: true, // prev next and buttons - true by default
			links : true, // show images as links - true by default
			hoverPause: true // pause on hover - true by default
		});
	});
	</script>
	
	<!-- =Tooltip -->
	<script src="/static/js/tooltip.min.js"></script>
	<script type="text/javascript">
	jQuery(function() {
		//tooltip
		$("a .tooltip").addClass("tooltip");
		tooltip();  		
	});
	</script>
	
	<!-- =Truncate -->
	<script src="/static/js/jquery.jtruncate.pack.js"></script>
	<script type="text/javascript">
	$().ready(function() {  
		$('h4.title').jTruncate({  
			length: 14,
			minTrail: 0,
			moreText: "", //[see all]
			lessText: "", //[hide extra]
			ellipsisText: "", // (truncated)
			moreAni: "", // fast
			lessAni: 2000
		});
	});
	</script>


</body>
</html>
