<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<title>和文天下</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="../css/style.css?v=1">


	<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]--> 

	<!--[if lt IE 7]>
		<link rel="stylesheet" type="text/css" media="all" href="css/ie7.css" />
		<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE7.js"></script>
	<![endif]-->
	
	<!--[if IE 7]>
		<link rel="stylesheet" type="text/css" media="all" href="css/ie7.css" />
	<![endif]-->
				
	<!-- All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects -->
	<script src="../js/modernizr-1.5.min.js"></script>
	 <style type="text/css">  
    #box{width:650px;font-size:12px;float:left;padding:0 0 0 20px;}  
    #box ul{margin:0;padding:0;list-style:none}  
    #box #tab{height:26px;border:1px;border-bottom:1px solid #dfdfdf;}  
    #box #tab li{width:100px;height:18px;padding-top:8px;margin-right:10px;margin-left:0px;text-align:center;float:left;cursor:pointer;position:relative;top:1px;background:#7E7E80;border-top-left-radius:15px;border-top-right-radius:15px;}  
    #box #tab li.on{color:#000;background:#fff;background-position:-110px 0;border:1px solid #7E7E80;border-bottom:none;}  
    #box #tab_con{border:1px solid #7E7E80;padding:30px 10px 10px 10px;}  
    #box #tab_con li{display:none}  
    #box #tab_con #tab_con_1{display:block}  
    </style>  

</head>
<body>

	<!-- Let's Start! -->
	<div id="wrapper" class="clearfix">

		<!-- =styleswitcher -->


		<div id="container" class="container_12 clearfix">
	
		<!-- =Header -->
			<div id="header">
	
				<!-- =Logo -->
				<div style="width:65%;height:50px;background: #7E7E80;margin:0 auto;">
					<div id="logo" class="grid_4">
						<a href="index.html"><img src="../images/logo.png" width=50px height=50px alt="和文" /></a>
					</div>

				<!-- =Menu -->
				  
						<nav id="nt_nav">
							<ul id="navigation">
								<li><a href="contact.html">联系我们</a></li>
								<li><a href="hr.html">在线招聘</a></li>
								<li><a href="service.html">服务中心</a></li>
					
						
							<li><a href="release.html" >出版发行</a>
									<ul class="sub-menu"> 
										<li><a href="bookprod.html">图书产品</a></li>
										<HR style="height:1px;line-height:1px;border:none;margin:0;padding:0;overflow:hidden;"  width="100%" color="white" SIZE=1 />	
										<li><a href="partners.html">合作伙伴</a></li>
										<HR style="height:1px;line-height:1px;border:none;margin:0;padding:0;overflow:hidden;"  width="100%" color="white" SIZE=1 />	
										<li><a href="bookservice.html">图书服务</a></li>
						
									</ul> 
								</li><!-- end about -->
								<li><a href="news.html"   class="current">新闻资讯</a>
									<ul class="sub-menu"> 
										<li><a href="comnews.html">公司新闻</a></li>
										<HR style="height:1px;line-height:1px;border:none;margin:0;padding:0;overflow:hidden;"  width="100%" color="white" SIZE=1 />	
										<li><a href="othernews.html">行业资讯</a></li>
									
									</ul>
								</li>
								<li><a href="hewentong.html">和文通</a>
									<ul class="sub-menu"> 
										<li><a href="hwtprod.html">和文通产品</a></li>
										<HR style="height:1px;line-height:1px;border:none;margin:0;padding:0;overflow:hidden;"  width="100%" color="white" SIZE=1 />	
										<li><a href="hwtsoftware.html">和文通软件</a></li>
										<HR style="height:1px;line-height:1px;border:none;margin:0;padding:0;overflow:hidden;"  width="100%" color="white" SIZE=1 />	
										<li><a href="hwtsource.html">和文通资源库</a></li>
									</ul>	
							
								</li>
						
								<li><a href="about1.html">关于和文</a>
									<ul class="sub-menu"> 
								<li><a href="about1.html">公司简介</a></li>
								    <HR style="height:1px;line-height:1px;border:none;margin:0;padding:0;overflow:hidden;"  width="100%" color="white" SIZE=1 />	
										<li><a href="about2.html">企业文化</a></li>
										<HR style="height:1px;line-height:1px;border:none;margin:0;padding:0;overflow:hidden;"  width="100%" color="white" SIZE=1 />	
								<li><a href="about3.html">企业荣誉</a></li>
							</ul>							
						</li>
						<li><a href="../index.html" >首页</a></li>
					</ul>
					</nav><!-- #nt_nav -->
				
			</div>
				<div class="clear"></div>

			</div><!-- #header -->
	
		<div style="background:#fff;width:100%;height:1000px;margin:0;margin-bottom:-80px;padding:0;">
				<div>
				<img style="border:0px;" src="../images/newscenter.jpg" width="100%" height="384px" />
				</div>
				<div style="width:100%">
							<div style="width:40%;float:left;">
								<div style="float:right;padding:60px;width:201px;">
								<div style="line-height:25px;font-size: 14px;font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;font-weight:bold;color:grey;"><h4><font face="verdana" color="grey">News</font></h4>新闻资讯</div><img style="border:0px;" src="../images/newscenter_logo.png"  width="200px" />
									<br>
								</div>
							</div>
							
							<div "float:left;width:650px;float:left;">
								<div id="box" style="float:left;padding:60px;">  
       						<ul id="tab">  
           						<li  class="on" id="tab_1" onClick="switchTab(1)" style="list-style:none">公司新闻</li>  
           						<li id="tab_2" onClick="switchTab(2)" style="list-style:none">行业资讯</li>
           						
         
       						</ul>  
       					<ul id="tab_con">  
           						<li id="tab_con_1">
           							   <div>
																<table class="newstable">
																	<tr>
																		<td style="text-align:left;"><a href="news1.html"><img style="border:0;" src="../images/bullet.png" width="10" height="10" />  北京和文天下捐书助教</a></td>
																		<td></td>	
																		<td class="newstd">2014-06-11 17:02:29</td>	
																	</tr>	
																	
																	<tr>
																		<td style="text-align:left;"><a href="news2.html"><img style="border:0;" src="../images/bullet.png" width="10" height="10" />  2014年3月10日我公司成功聘任聂皖生博士为我公司的高级顾问，并成功签约聂皖生博士为我公司的特约作家。</a></td>
																		<td></td>	
																		<td class="newstd">2014-03-13 09:42:20</td>	
																	</tr>
																	
																	<tr>
																		<td style="text-align:left;"><a href="news3.html"><img style="border:0;" src="../images/bullet.png" width="10" height="10" /> 陕西省分公司成立。</a></td>
																		<td></td>	
																		<td class="newstd">2014-03-07 11:29:10</td>	
																	</tr>
																	
																	<tr>
																		<td style="text-align:left;"><a href="news4.html"><img style="border:0;" src="../images/bullet.png" width="10" height="10" /> 河南省郑州市郑东新区正光路的河南省办事处成立。</a></td>
																		<td></td>	
																		<td class="newstd">2014-03-07 11:28:28</td>	
																	</tr>
																	<tr>
																		
																		<td style="text-align:left;"><a href="news5.html"><img style="border:0;" src="../images/bullet.png" width="10" height="10" /> 云南省办事处成立</a></td>
																		<td></td>	
																		<td class="newstd">2014-03-07 11:28:00</td>	
																	</tr>
																	
																	<tr>
																		<td style="text-align:left;"><a href="news6.html"><img style="border:0;" src="../images/bullet.png" width="10" height="10" />  设立山东省办事处主要负责山东区域业务的开展</a></td>
																		<td></td>	
																		<td class="newstd">2014-03-07 11:27:33</td>	
																	</tr>
																	
																	<tr>
																		<td style="text-align:left;"><a href="news7.html"><img style="border:0;" src="../images/bullet.png" width="10" height="10" />  贵州省办事处负责贵州省全省的业务开展</a></td>
																		<td></td>	
																		<td class="newstd">2014-03-07 11:26:49</td>	
																	</tr>
																	<tr>
																		<td style="text-align:left;"><a href="news8.html"><img style="border:0;" src="../images/bullet.png" width="10" height="10" />  广西注册成立广西泽兴教育文化设备有限公司</a></td>
																		<td></td>	
																		<td class="newstd">2014-03-07 11:25:52</td>	
																	</tr>
																	
																	
																</table>
                          </div>
                     	</li> 
                      
          						<li id="tab_con_2"> 
          						   <div>
												</div>
											</li>  
             			
       					</ul>  
   							</div>
   						</div>
				</div>
					
				
			</div>

		<!-- =Footer -->
		
		<footer id="footer">
			<div class="foot">
			<img style="border: none;margin: 0;padding: 0;" src="../images/footer.png" height="80" alt="和文">
	
			
			</div>
		</footer>
	
	</div><!-- #wrapper -->
	
	
	<!-- Javascript at the bottom for fast page loading -->	
	
	<!-- Grab Google CDN's jQuery. fall back to local if necessary -->
	<script src="../js/jquery.min.js"></script>
	<script>!window.jQuery && document.write('<script src="js/jquery-1.4.2.min.js"><\/script>')</script>
	
	<!-- =Menu -->
	<script src="../js/nt_nav.js"></script>

	<!-- =Contact -->
	<script src="../js/contact.js"></script>
	
	<!-- =styleswitcher -->
	<script src="../js/styleswitcher.js"></script>
	
	<!-- =Prettyphoto -->
	<script src="../js/jquery.prettyPhoto.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			$("a.portfolio_item[rel^='prettyPhoto'], a.isphoto_m[rel^='prettyPhoto'], a.isphoto_b[rel^='prettyPhoto'], a.isvideo_m[rel^='prettyPhoto'], a.isvideo_b[rel^='prettyPhoto'], a.islink_mini[rel^='prettyPhoto'], a.islink_m[rel^='prettyPhoto']").prettyPhoto({
			animationSpeed: 'slow',
			theme: 'nitro_dark_rounded',
			slideshow: 4000,
			autoplay_slideshow: false});
		});
	</script>

 <script type="text/javascript">  
   function switchTab(n){  
    for(var i = 1; i <= 2; i++){  
    document.getElementById("tab_" + i).className = "";  
     document.getElementById("tab_con_" + i).style.display = "none";  
    }  
    document.getElementById("tab_" + n).className = "on";  
    document.getElementById("tab_con_" + n).style.display = "block";  
   }  
   </script>  




	<!-- =Cufon -->
	<script src="../js/cufon-yui.js?v=1.09"></script>
	<script src="../js/lab.font.js"></script>

	<!-- Call =Coin Slider -->
	<script src="../js/coin-slider.min.js"></script>
	<script type="text/javascript">
	$(document).ready(function() {
		$('#coin-slider').coinslider({
			width: 960, // width of slider panel
			height: 459, // height of slider panel	// 459 default -1px for img margins error
			spw: 4,  // squares per width - 5 by default
			sph: 2, // squares per height - 3 by default
			delay: 3000, // delay between images in ms - 3000 by default
			sDelay: 30, // delay beetwen squares in ms - 30 by default
			opacity: 0.8, // opacity of title and navigation - 0.8 by default
			titleSpeed: 500, // speed of title appereance in ms - 500 by default
			effect: '', // random, swirl, rain, straight - empty by default
			navigation: true, // prev next and buttons - true by default
			links : true, // show images as links - true by default
			hoverPause: true // pause on hover - true by default
		});
	});
	</script>
	
	<!-- =Tooltip -->
	<script src="../js/tooltip.min.js"></script>
	<script type="text/javascript">
	jQuery(function() {
		//tooltip
		$("a .tooltip").addClass("tooltip");
		tooltip();  		
	});
	</script>
	
	<!-- =Truncate -->
	<script src="../js/jquery.jtruncate.pack.js"></script>
	<script type="text/javascript">
	$().ready(function() {  
		$('h4.title').jTruncate({  
			length: 14,
			minTrail: 0,
			moreText: "", //[see all]
			lessText: "", //[hide extra]
			ellipsisText: "", // (truncated)
			moreAni: "", // fast
			lessAni: 2000
		});
	});
	</script>


</body>
</html>