<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<title>和文天下</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="/static/css/style.css?v=1">
<link rel="icon" href="/static/images/logo.png" type="image/x-icon"> 

	<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]--> 

	<!--[if lt IE 7]>
		<link rel="stylesheet" type="text/css" media="all" href="css/ie7.css" />
		<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE7.js"></script>
	<![endif]-->
	
	<!--[if IE 7]>
		<link rel="stylesheet" type="text/css" media="all" href="css/ie7.css" />
	<![endif]-->
				
	<!-- All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects -->
	<script src="/static/js/modernizr-1.5.min.js"></script>
	 <style type="text/css">  
    #box{width:650px;font-size:12px;float:left;padding:0 0 0 20px;}  
    #box ul{margin:0;padding:0;list-style:none}  
    #box #tab{height:26px;border:1px;border-bottom:1px solid #dfdfdf;}  
    #box #tab li{width:100px;height:18px;padding-top:8px;margin-right:10px;margin-left:0px;text-align:center;float:left;cursor:pointer;position:relative;top:1px;background:#7E7E80;border-top-left-radius:15px;border-top-right-radius:15px;}  
    #box #tab li.on{color:#000;background:#d6d9dd;background-position:-110px 0;border:1px solid #7E7E80;border-bottom:none;}  
    #box #tab_con{border:1px solid #7E7E80;padding:20px;}  
    #box #tab_con li{display:none}  
    #box #tab_con #tab_con_1{display:block}  
    </style>  

</head>
<body>

	<!-- Let's Start! -->
	<div id="wrapper" class="clearfix">

		<!-- =styleswitcher -->


		<div id="container" class="container_12 clearfix">
	
		
			<!-- =Header -->
			<div id="header">
	
				<!-- =Logo -->
				<div style="width:65%;height:50px;background: #7E7E80;margin:0 auto;">
					<div id="logo" class="grid_4">
						<a href="/cn/index/"><img src="/static/images/logo.png" width=50px height=50px alt="和文" /></a>
					</div>

				<!-- =Menu -->
				  
						<nav id="nt_nav">
							<ul id="navigation">
								<li><a href="/cn/contact/">联系我们</a></li>
								<li><a href="/cn/hr/"  class="current">在线招聘</a></li>
								<li><a href="/cn/service/">服务中心</a></li>
					
						
							<li><a href="/cn/release/">出版发行</a>
									<ul class="sub-menu"> 
										<li><a href="/cn/bookprod/">图书产品</a></li>
										<HR style="height:1px;line-height:1px;border:none;margin:0;padding:0;overflow:hidden;"  width="100%" color="white" SIZE=1 />	
										<li><a href="/cn/partners/">合作伙伴</a></li>
										<HR style="height:1px;line-height:1px;border:none;margin:0;padding:0;overflow:hidden;"  width="100%" color="white" SIZE=1 />	
										<li><a href="/cn/bookservice/">图书服务</a></li>
						
									</ul> 
								</li><!-- end about -->
								<li><a href="/cn/news/">新闻资讯</a>
									<ul class="sub-menu"> 
										<li><a href="/cn/news/">公司新闻</a></li>
										<HR style="height:1px;line-height:1px;border:none;margin:0;padding:0;overflow:hidden;"  width="100%" color="white" SIZE=1 />	
										<li><a href="/cn/othernews/">行业资讯</a></li>
									
									</ul>
								</li>
								<li><a href="/cn/hewentong/">和文通</a>
									<ul class="sub-menu"> 
										<li><a href="/cn/hwtprod/">和文通产品</a></li>
										<HR style="height:1px;line-height:1px;border:none;margin:0;padding:0;overflow:hidden;"  width="100%" color="white" SIZE=1 />	
										<li><a href="/cn/hwtsoftware/">和文通软件</a></li>
										<HR style="height:1px;line-height:1px;border:none;margin:0;padding:0;overflow:hidden;"  width="100%" color="white" SIZE=1 />	
										<li><a href="/cn/hwtsource/">和文通资源库</a></li>
									</ul>	
							
								</li>
						
								<li><a href="/cn/about/">关于和文</a>
									<ul class="sub-menu"> 
								<li><a href="/cn/about/1/">公司简介</a></li>
								    <HR style="height:1px;line-height:1px;border:none;margin:0;padding:0;overflow:hidden;"  width="100%" color="white" SIZE=1 />	
										<li><a href="/cn/about/2/">企业文化</a></li>
										<HR style="height:1px;line-height:1px;border:none;margin:0;padding:0;overflow:hidden;"  width="100%" color="white" SIZE=1 />	
								<li><a href="/cn/about/3/">企业荣誉</a></li>
							</ul>							
						</li>
						<li><a href="/cn/index/">首页</a></li>
					</ul>
					</nav><!-- #nt_nav -->
				
			</div>
				<div class="clear"></div>

			</div><!-- #header -->
	
		<div style="background:#fff;width:100%;height:1550px;margin:0;margin-bottom:-80px;padding:0;">
				<div>
				<img style="border:0px;" src="/static/images/hr.jpg"  width="100%" height="324px" />
				</div>
				<div style="width:100%">
							<div style="width:40%;float:left;">
								<div style="float:right;padding:60px;width:201px;">
								<div style="line-height:25px;font-size: 14px;font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;font-weight:bold;color:grey"><h4><font face="verdana" color="grey">Join Us</font></h4>在线招聘</div><img style="border:0px;" src="/static/images/hr_logo.png"  width="200px" />
									<br><br><div style="line-height:20px">如果你有一个梦想是传播中国文化，如果你有一个梦想是让自己能够为中国教育事业略尽绵薄之力，那么请加入我们，让我们携手共创美好的明天！</div>
								</div>
							</div>
							<div style="width:650px;float:left;padding:0 0 0 20px;">
								<div style="padding:60px 0 0 0;font-size: 20px;font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;font-weight:bold;">
									在线招聘
								</div><br>
								
								<div style="width:640px;padding:5px 0 5px 0;">
											<HR width="639"  color="grey" SIZE=10 />							
								</div>
								
								<div class="eachjob">
							  	<h4>岗位：美术编辑</h4><br>
									<h6>工作地点：</h6>	<p>北京</p><br>
									<h6>岗位职责：</h6>	<br><p>1.图书产品整体设计；<br> 2.前瞻性的针对性的审美标准；<br> 3.掌握各种美术信息，了解图书的装帧设计动态，在设计、材料使用、工艺上创新； <br>4.配合图书责任编辑和营销部门做好图书宣传的设计工作。<br></p><br>
									<h6>技能要求：</h6>	
									<p>1、美术设计类大专及以上学历，具备美术功底和绘画技能，两年以上图书设计经验，能独立进行设计;<br>
									2、熟练使用Photoshop、Flash、Illustrator、CorelDraw等设计软件，熟悉掌握制版和印刷工艺;<br>
									3、喜欢阅读，关注图书市场和新媒体;<br>
									4、具有较强的创新能力、视觉感知能力，能独立快速完成高品质设计作品;<br>
									5、善于学习、敬业、能够承受工作压力，认真负责，具有团队合作精神和沟通能力;<br>
									6、有优质美术设计资源者优先；<br>
									7、发邮件21hwtx@sina.com     近照一样不要PS。<br></p>
								</div>
								
								<div style="width:640px;padding:5px 0 5px 0;">
											<HR width="639"  color="grey" SIZE=10 />							
								</div>
								
								<div class="eachjob">
							  	<h4>岗位：区域性市场部经理</h4><br>
									<h6>工作地点：</h6>	<p>北京 根据公司的业务需要派遣。</p><br>
									<h6>岗位职责：</h6>	<br><p>1.负责公司在该地区的业务推广及市场调查； <br>2.负责及时反馈该地区的业务信息；<br> 3.负责协调客户关系； <br>4.忍受长期出差之苦。<br></p><br>
									<h6>技能要求：</h6>	<br>
									<p>1.身体健康、性格活跃、善于与人打交道；<br>
         							2.工作责任心强，作风认真踏实，能吃苦耐劳，抗压能力强；<br>
											3.具有良好的敬业精神和团队意识，有较强的执行力；<br>
										4.能熟练使用EXCEL；<br>
										5.有相关工作经历的工作经验且优先考虑；<br>
										6.薪水面议；<br>
										7.大专以上学历；<br>
										8. 发简历邮件21hwtx@sina.com  近照一张 不要PS。<br>
								</div>
								
						
   						</div>
				</div>
					
				
			</div>

		<!-- =Footer -->
		
		<footer id="footer">
			<div class="foot">
			<img style="border: none;margin: 0;padding: 0;" src="/static/images/footer.png" height="80" alt="和文">
	
			
			</div>
		</footer>
	
	</div><!-- #wrapper -->
	
	
	<!-- Javascript at the bottom for fast page loading -->	
	
	<!-- Grab Google CDN's jQuery. fall back to local if necessary -->
	<script src="/static/js/jquery.min.js"></script>
	<script>!window.jQuery && document.write('<script src="/static/js/jquery-1.4.2.min.js"><\/script>')</script>
	
	<!-- =Menu -->
	<script src="/static/js/nt_nav.js"></script>

	<!-- =Contact -->
	<script src="/static/js/contact.js"></script>
	
	<!-- =styleswitcher -->
	<script src="/static/js/styleswitcher.js"></script>
	
	<!-- =Prettyphoto -->
	<script src="/static/js/jquery.prettyPhoto.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			$("a.portfolio_item[rel^='prettyPhoto'], a.isphoto_m[rel^='prettyPhoto'], a.isphoto_b[rel^='prettyPhoto'], a.isvideo_m[rel^='prettyPhoto'], a.isvideo_b[rel^='prettyPhoto'], a.islink_mini[rel^='prettyPhoto'], a.islink_m[rel^='prettyPhoto']").prettyPhoto({
			animationSpeed: 'slow',
			theme: 'nitro_dark_rounded',
			slideshow: 4000,
			autoplay_slideshow: false});
		});
	</script>

 <script type="text/javascript">  
   function switchTab(n){  
    for(var i = 1; i <= 3; i++){  
    document.getElementById("tab_" + i).className = "";  
     document.getElementById("tab_con_" + i).style.display = "none";  
    }  
    document.getElementById("tab_" + n).className = "on";  
    document.getElementById("tab_con_" + n).style.display = "block";  
   }  
   </script>  




	<!-- =Cufon -->
	<script src="/static/js/cufon-yui.js?v=1.09"></script>
	<script src="/static/js/lab.font.js"></script>
	
	
	<!-- Call =Coin Slider -->
	<script src="/static/js/coin-slider.min.js"></script>
	<script type="text/javascript">
	$(document).ready(function() {
		$('#coin-slider').coinslider({
			width: 960, // width of slider panel
			height: 459, // height of slider panel	// 459 default -1px for img margins error
			spw: 4,  // squares per width - 5 by default
			sph: 2, // squares per height - 3 by default
			delay: 3000, // delay between images in ms - 3000 by default
			sDelay: 30, // delay beetwen squares in ms - 30 by default
			opacity: 0.8, // opacity of title and navigation - 0.8 by default
			titleSpeed: 500, // speed of title appereance in ms - 500 by default
			effect: '', // random, swirl, rain, straight - empty by default
			navigation: true, // prev next and buttons - true by default
			links : true, // show images as links - true by default
			hoverPause: true // pause on hover - true by default
		});
	});
	</script>
	
	<!-- =Tooltip -->
	<script src="/static/js/tooltip.min.js"></script>
	<script type="text/javascript">
	jQuery(function() {
		//tooltip
		$("a .tooltip").addClass("tooltip");
		tooltip();  		
	});
	</script>
	
	<!-- =Truncate -->
	<script src="/static/js/jquery.jtruncate.pack.js"></script>
	<script type="text/javascript">
	$().ready(function() {  
		$('h4.title').jTruncate({  
			length: 14,
			minTrail: 0,
			moreText: "", //[see all]
			lessText: "", //[hide extra]
			ellipsisText: "", // (truncated)
			moreAni: "", // fast
			lessAni: 2000
		});
	});
	</script>


</body>
</html>
