<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<title>和文天下</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="../css/style.css?v=1">


	<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]--> 

	<!--[if lt IE 7]>
		<link rel="stylesheet" type="text/css" media="all" href="css/ie7.css" />
		<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE7.js"></script>
	<![endif]-->
	
	<!--[if IE 7]>
		<link rel="stylesheet" type="text/css" media="all" href="css/ie7.css" />
	<![endif]-->
				
	<!-- All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects -->
	<script src="../js/modernizr-1.5.min.js"></script>
	 <style type="text/css">  
    #box{width:650px;font-size:12px;float:left;padding:0 0 0 20px;}  
    #box ul{margin:0;padding:0;list-style:none}  
    #box #tab{height:26px;border:1px;border-bottom:1px solid #dfdfdf;}  
    #box #tab li{width:100px;height:18px;padding-top:8px;margin-right:10px;margin-left:0px;text-align:center;float:left;cursor:pointer;position:relative;top:1px;background:#7E7E80;border-top-left-radius:15px;border-top-right-radius:15px;}  
    #box #tab li.on{color:#000;background:#fff;background-position:-110px 0;border:1px solid #7E7E80;border-bottom:none;}  
    #box #tab_con{border:1px solid #7E7E80;padding:30px 10px 10px 10px;}  
    #box #tab_con li{display:none}  
    #box #tab_con #tab_con_1{display:block}  
    </style>  

</head>
<body>

	<!-- Let's Start! -->
	<div id="wrapper" class="clearfix">

		<!-- =styleswitcher -->


		<div id="container" class="container_12 clearfix">
	
			<!-- =Header -->
			<div id="header">
	
				<!-- =Logo -->
				<div style="width:65%;height:50px;background: #7E7E80;margin:0 auto;">
					<div id="logo" class="grid_4">
						<a href="index.html"><img src="images/logo.png" width=50px height=50px alt="和文" /></a>
					</div>

				<!-- =Menu -->
				  
						<nav id="nt_nav">
							<ul id="navigation">
								<li><a href="html/contact.html">联系我们</a></li>
								<li><a href="html/hr.html">在线招聘</a></li>
								<li><a href="html/service.html">服务中心</a></li>
					
						
							<li><a href="html/release.html">出版发行</a>
									<ul class="sub-menu"> 
										<li><a href="html/bookprod.html">图书产品</a></li>
										<HR style="height:1px;line-height:1px;border:none;margin:0;padding:0;overflow:hidden;"  width="100%" color="white" SIZE=1 />	
										<li><a href="html/partners.html">合作伙伴</a></li>
										<HR style="height:1px;line-height:1px;border:none;margin:0;padding:0;overflow:hidden;"  width="100%" color="white" SIZE=1 />	
										<li><a href="html/bookservice.html">图书服务</a></li>
						
									</ul> 
								</li><!-- end about -->
								<li><a href="html/news.html"  class="current">新闻资讯</a>
									<ul class="sub-menu"> 
										<li><a href="html/comnews.html">公司新闻</a></li>
										<HR style="height:1px;line-height:1px;border:none;margin:0;padding:0;overflow:hidden;"  width="100%" color="white" SIZE=1 />	
										<li><a href="html/othernews.html">行业资讯</a></li>
									
									</ul>
								</li>
								<li><a href="html/hewentong.html">和文通</a>
									<ul class="sub-menu"> 
										<li><a href="html/hwtprod.html">和文通产品</a></li>
										<HR style="height:1px;line-height:1px;border:none;margin:0;padding:0;overflow:hidden;"  width="100%" color="white" SIZE=1 />	
										<li><a href="html/hwtsoftware.html">和文通软件</a></li>
										<HR style="height:1px;line-height:1px;border:none;margin:0;padding:0;overflow:hidden;"  width="100%" color="white" SIZE=1 />	
										<li><a href="html/hwtsource.html">和文通资源库</a></li>
									</ul>	
							
								</li>
						
								<li><a href="html/about1.html">关于和文</a>
									<ul class="sub-menu"> 
								<li><a href="html/about1.html">公司简介</a></li>
								    <HR style="height:1px;line-height:1px;border:none;margin:0;padding:0;overflow:hidden;"  width="100%" color="white" SIZE=1 />	
										<li><a href="html/about2.html">企业文化</a></li>
										<HR style="height:1px;line-height:1px;border:none;margin:0;padding:0;overflow:hidden;"  width="100%" color="white" SIZE=1 />	
								<li><a href="html/about3.html">企业荣誉</a></li>
							</ul>							
						</li>
						<li><a href="index.html">首页</a></li>
					</ul>
					</nav><!-- #nt_nav -->
				
			</div>
				<div class="clear"></div>

			</div><!-- #header -->
	
		<div style="background:#fff;width:100%;height:1800px;margin:0;margin-bottom:-80px;padding:0;">
				<div>
				<img style="border:0px;" src="../images/newscenter.jpg" width="100%" height="384px" />
				</div>
				<div style="width:100%">
							<div style="width:40%;float:left;">
								<div style="float:right;padding:60px;width:201px;">
								<div style="line-height:25px;font-size: 14px;font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;font-weight:bold;color:grey;"><h4><font face="verdana" color="grey">News</font></h4>新闻资讯</div><img style="border:0px;" src="../images/newscenter_logo.png"  width="200px" />
									<br>
								</div>
							</div>
							
							<div style="float:left;width:650px;padding:60px;">
								<div style="float:left;padding:0 0 0 20px;">
									<div style="text-align:center;font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;font-weight:bold;"><h4>2014年3月10日我公司成功聘任聂皖生博士为我公司的高级顾问，并成功签约聂皖生博士为我公司的特约作家。</h4></div>
									<div style="text-align:center;font-size:12px;color:grey;">2014-03-13 09:42:20| 发布者: admin| 查看: 604</div>
									<HR width="639" color="grey" SIZE=10 />	
									
										
										<div style="clear:both;text-indent: 2em;font-size:14px;padding:20px 0 0 0;"><p style="line-height:32px;">
											
											<h5 style="text-align:center">聂皖生简历</h5>
	
										<h6>个人基本情况</h6>
<div style="text-indent: 4em;">								
<div>姓名：聂皖生</div>
<div>性别：男</div>
<div>出生年月：1966年2月1日</div>
<div>户口所在地：上海</div>
<div>学历：博士（统计学，经济学）</div>
</div>

<div style="text-indent: 4em;">		
<h6>教育背景：</h6>

<div>1982年---1986年7月，河北地质学院（现石家庄经济学院）经济管理系学习，获经济学学士学位</div>
<div>1986年9月---1989年6月，安徽财经大学统计学系学习，获经济学硕士学位，师从我国著名统计学家华佰泉教授；</div>
<div>1993年9月—1996年6月，厦门大学经济学院统计系学习，师从我国统计学界泰斗、著名统计学家黄良文教授，获经济学（统计学）博士学位。</div>
<div>2001年9月---2005年月12月，南京大学商学院工商管理博士后流动站从事博士后研究工作，师从管理学家、现对外经济贸易大学校长施建军教授。</div>
</div>

<h6>工作经历</h6>
<div style="text-indent: 4em;">	
<div>1994年—1997年，深圳证券交易所高级研究员，《证券市场导报》责任编辑</div>
<div>1998年—2000年，上海金信证券研究所副所长</div>
<div>2000年---2002年，浙江证券上海资产管理负责人，证券研究所所长</div>
<div>2003年---2008年，浙江省国际信托投资公司投资总监、投资银行总部总经理。浙江省国际信托投资公司是浙江证券的控股股东</div>
<div>2009年---2011年，中泰信托投资银行部总经理，首席经济学家</div>
<div>2012年至今，北京中民卓彩科技有限公司执行董事、中娱文化股份有限公司董事兼财务总监、上海金巢集团副总裁、中国电子商务交易企业信用评级服务中心负责人。
曾任：蒙牛股份独立董事、中融基金董事、中杰（厦门）投资公司董事长和北京瀛洲鼎成文化艺术品投资有限公司董事长。</div>
<div>自从业以来，从证券研究开始，在研究的基础上从事投资管理、基金管理业务，具备一定的研究管理基础后，主要从事投资银行和融资并购业务以及股权投资业务，业务领域涉及不同行业，具有相当丰富的实战经验。
所从事的业务比较典型的案例有：</div>
<div>1、主持健力宝收购业务，成为当年十大并购案例之一</div>
<div>2、主持中融基金的并购业务，成功以小股东身份收购公司股份，以小博大成为控股股东；</div>
<div>3、成功投资蒙牛股份，创股权投资先河</div>
<div>4、所负责的研究机构是当时中国三大证券研究机构之一</div>
<div>5、参与创办了当时最好的财经杂志《证券市场导报》</div>
</div>


<h6>学术研究</h6>

<div style="text-indent: 4em;">		
<div>出版三本畅销专业书籍：</div>
<div>１、《期权》 中国经济出版社，目前仍然是国内最早最权威的期权专著；</div>
<div>2、《股指期货》 上海交通大学出版社，已连续出版6版。</div>
<div>3、《期权激励计划》 上海交通大学出版社，国内最权威的股权激励专著。</div>
<div>以上三本专著销量稳住国内同类前三名。</div>
<div>本人出席第50届国际统计大会，获得中国统计学会、中国工业统计学会论文一等奖。</div>
<div>在各种刊物发表有影响力的论文30余篇。</div>
 
<div>长期在领导岗位，有一定的管理经验；理论基础扎实，学术功底深厚，业务实战经验丰富，对大数据、综合评价等有独到的见解和综合应用能力。</div>
</div>
											</div>	
											
											
											</p></div>
										
								</div>
   					</div>
   					
   					
				</div>
					
				
			</div>

		<!-- =Footer -->
		
		<footer id="footer">
			<div class="foot">
			<img style="border: none;margin: 0;padding: 0;" src="../images/footer.png" height="80" alt="和文">
	
			
			</div>
		</footer>
	
	</div><!-- #wrapper -->
	
	
	<!-- Javascript at the bottom for fast page loading -->	
	
	<!-- Grab Google CDN's jQuery. fall back to local if necessary -->
	<script src="../js/jquery.min.js"></script>
	<script>!window.jQuery && document.write('<script src="js/jquery-1.4.2.min.js"><\/script>')</script>
	
	<!-- =Menu -->
	<script src="../js/nt_nav.js"></script>

	<!-- =Contact -->
	<script src="../js/contact.js"></script>
	
	<!-- =styleswitcher -->
	<script src="../js/styleswitcher.js"></script>
	
	<!-- =Prettyphoto -->
	<script src="../js/jquery.prettyPhoto.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			$("a.portfolio_item[rel^='prettyPhoto'], a.isphoto_m[rel^='prettyPhoto'], a.isphoto_b[rel^='prettyPhoto'], a.isvideo_m[rel^='prettyPhoto'], a.isvideo_b[rel^='prettyPhoto'], a.islink_mini[rel^='prettyPhoto'], a.islink_m[rel^='prettyPhoto']").prettyPhoto({
			animationSpeed: 'slow',
			theme: 'nitro_dark_rounded',
			slideshow: 4000,
			autoplay_slideshow: false});
		});
	</script>

 <script type="text/javascript">  
   function switchTab(n){  
    for(var i = 1; i <= 2; i++){  
    document.getElementById("tab_" + i).className = "";  
     document.getElementById("tab_con_" + i).style.display = "none";  
    }  
    document.getElementById("tab_" + n).className = "on";  
    document.getElementById("tab_con_" + n).style.display = "block";  
   }  
   </script>  




	<!-- =Cufon -->
	<script src="../js/cufon-yui.js?v=1.09"></script>
	<script src="../js/lab.font.js"></script>

	<!-- Call =Coin Slider -->
	<script src="../js/coin-slider.min.js"></script>
	<script type="text/javascript">
	$(document).ready(function() {
		$('#coin-slider').coinslider({
			width: 960, // width of slider panel
			height: 459, // height of slider panel	// 459 default -1px for img margins error
			spw: 4,  // squares per width - 5 by default
			sph: 2, // squares per height - 3 by default
			delay: 3000, // delay between images in ms - 3000 by default
			sDelay: 30, // delay beetwen squares in ms - 30 by default
			opacity: 0.8, // opacity of title and navigation - 0.8 by default
			titleSpeed: 500, // speed of title appereance in ms - 500 by default
			effect: '', // random, swirl, rain, straight - empty by default
			navigation: true, // prev next and buttons - true by default
			links : true, // show images as links - true by default
			hoverPause: true // pause on hover - true by default
		});
	});
	</script>
	
	<!-- =Tooltip -->
	<script src="../js/tooltip.min.js"></script>
	<script type="text/javascript">
	jQuery(function() {
		//tooltip
		$("a .tooltip").addClass("tooltip");
		tooltip();  		
	});
	</script>
	
	<!-- =Truncate -->
	<script src="../js/jquery.jtruncate.pack.js"></script>
	<script type="text/javascript">
	$().ready(function() {  
		$('h4.title').jTruncate({  
			length: 14,
			minTrail: 0,
			moreText: "", //[see all]
			lessText: "", //[hide extra]
			ellipsisText: "", // (truncated)
			moreAni: "", // fast
			lessAni: 2000
		});
	});
	</script>


</body>
</html>