<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<title>和文天下</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="/static/css/style.css?v=1">
 <link rel="icon" href="/static/images/logo.png" type="image/x-icon"> 

	<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]--> 

	<!--[if lt IE 7]>
		<link rel="stylesheet" type="text/css" media="all" href="css/ie7.css" />
		<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE7.js"></script>
	<![endif]-->
	
	<!--[if IE 7]>
		<link rel="stylesheet" type="text/css" media="all" href="css/ie7.css" />
	<![endif]-->
				
	<!-- All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects -->
	<script src="/static/js/modernizr-1.5.min.js"></script>
	 <style type="text/css">  
    #box{width:650px;font-size:12px;float:left;padding:0 0 0 20px;}  
    #box ul{margin:0;padding:0;list-style:none}  
    #box #tab{height:26px;border:1px;border-bottom:1px solid #dfdfdf;}  
    #box #tab li{width:100px;height:18px;padding-top:8px;margin-right:10px;margin-left:0px;text-align:center;float:left;cursor:pointer;position:relative;top:1px;background:#7E7E80;border-top-left-radius:15px;border-top-right-radius:15px;}  
    #box #tab li.on{color:#000;background:#fff;background-position:-110px 0;border:1px solid #7E7E80;border-bottom:none;}  
    #box #tab_con{border:1px solid #7E7E80;padding:30px 10px 10px 10px;}  
    #box #tab_con li{display:none}  
    #box #tab_con #tab_con_1{display:block}  
    </style>  

</head>
<body>

	<!-- Let's Start! -->
	<div id="wrapper" class="clearfix">

		<!-- =styleswitcher -->


		<div id="container" class="container_12 clearfix">
	<!-- =Header -->
			<div id="header">
	
				<!-- =Logo -->
				<div style="width:65%;height:50px;background: #7E7E80;margin:0 auto;">
					<div id="logo" class="grid_4">
						<a href="/cn/index/"><img src="/static/images/logo.png" width=50px height=50px alt="和文" /></a>
					</div>

				<!-- =Menu -->
				  
						<nav id="nt_nav">
							<ul id="navigation">
								<li><a href="/cn/contact/">联系我们</a></li>
								<li><a href="/cn/hr/">在线招聘</a></li>
								<li><a href="/cn/service/">服务中心</a></li>
					
						
							<li><a href="/cn/release/" class="current">出版发行</a>
									<ul class="sub-menu"> 
										<li><a href="/cn/bookprod/">图书产品</a></li>
										<HR style="height:1px;line-height:1px;border:none;margin:0;padding:0;overflow:hidden;"  width="100%" color="white" SIZE=1 />	
										<li><a href="/cn/partners/">合作伙伴</a></li>
										<HR style="height:1px;line-height:1px;border:none;margin:0;padding:0;overflow:hidden;"  width="100%" color="white" SIZE=1 />	
										<li><a href="/cn/bookservice/">图书服务</a></li>
						
									</ul> 
								</li><!-- end about -->
								<li><a href="/cn/news/">新闻资讯</a>
									<ul class="sub-menu"> 
										<li><a href="/cn/news/">公司新闻</a></li>
										<HR style="height:1px;line-height:1px;border:none;margin:0;padding:0;overflow:hidden;"  width="100%" color="white" SIZE=1 />	
										<li><a href="/cn/othernews/">行业资讯</a></li>
									
									</ul>
								</li>
								<li><a href="/cn/hewentong/">和文通</a>
									<ul class="sub-menu"> 
										<li><a href="/cn/hwtprod/">和文通产品</a></li>
										<HR style="height:1px;line-height:1px;border:none;margin:0;padding:0;overflow:hidden;"  width="100%" color="white" SIZE=1 />	
										<li><a href="/cn/hwtsoftware/">和文通软件</a></li>
										<HR style="height:1px;line-height:1px;border:none;margin:0;padding:0;overflow:hidden;"  width="100%" color="white" SIZE=1 />	
										<li><a href="/cn/hwtsource/">和文通资源库</a></li>
									</ul>	
							
								</li>
						
								<li><a href="/cn/about/">关于和文</a>
									<ul class="sub-menu"> 
								<li><a href="/cn/about/1/">公司简介</a></li>
								    <HR style="height:1px;line-height:1px;border:none;margin:0;padding:0;overflow:hidden;"  width="100%" color="white" SIZE=1 />	
										<li><a href="/cn/about/2/">企业文化</a></li>
										<HR style="height:1px;line-height:1px;border:none;margin:0;padding:0;overflow:hidden;"  width="100%" color="white" SIZE=1 />	
								<li><a href="/cn/about/3/">企业荣誉</a></li>
							</ul>							
						</li>
						<li><a href="/cn/index/" >首页</a></li>
					</ul>
					</nav><!-- #nt_nav -->
				
			</div>
				<div class="clear"></div>

			</div><!-- #header -->
	
	
		<div style="background:#fff;width:100%;height:1000px;margin:0;margin-bottom:-80px;padding:0;">
				<div>
				<img style="border:0px;" src="/static/images/release.jpg" width="100%" height="384px" />
				</div>
				<div style="width:100%">
							<div style="width:40%;float:left;">
								<div style="float:right;padding:60px;width:201px;">
								<div style="line-height:25px;font-size: 14px;font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;font-weight:bord;color:grey"><h4><font face="verdana" color="grey">Publishing</font></h4>出版发行</div><img style="border:0px;" src="/static/images/release_logo.png"  width="200px" />
									<br><br><div style="line-height:20px">
												图书馆配<br>
												图书配送<br>
												营销服务<br>
										</div>
								</div>
							</div>
							
							<div "float:left;width:650px;float:left;">
								<div id="box" style="float:left;padding:60px;">  
       						<ul id="tab">  
           						<li  class="on" id="tab_1" onClick="switchTab(1)" style="list-style:none">图书馆配</li>  
           						<li id="tab_2" onClick="switchTab(2)" style="list-style:none">图书配送</li>
           						<li id="tab_3" onClick="switchTab(3)" style="list-style:none">营销服务</li>  
         
       						</ul>  
       					<ul id="tab_con">  
           						<li id="tab_con_1">
           							   <div  style="text-indent: 2em;"><h4 style="text-align:center">图书馆配</h4><br>
           								<p>北京和文天下全国400多家的出版社有过合作；现有图书品种达6万多种，库房仓储7000多平方，近4年内，平均每年参与全国中小学图书改造项目达30多起，与全国高校图书馆、公共图书馆及研究机构等合作达100余家。</p>
           								<p>目前，已经收集各地方出版社的样书目录达20余万种，并及时跟踪各出版社样书和库存资讯，加大对各地方出版社及大学版图书的合作力度，确保地方版样书库的覆盖面广的特点，尽全力只为满足用户单位的需求。</p>
                          <p>在个人市场公司将与国内优秀作家合作致力于为城市新兴中产阶级打造优质的、多媒体形式的文化产品。</p>
                          <p>在个人市场公司将与国内优秀作家致力于为城市新兴中产阶级打造优质的、多媒体形式的文化产品。</p>

                          </div>
                     </li> 
                      
          						<li id="tab_con_2"> <div  style="text-indent: 2em;"><h4 style="text-align:center">图书配送</h4><br>
          							<p>我公司完善的配送流程，可以严格控制住发货中的每个细节，保证每个细节不出差错，直至交付使用。</p>
                        <p>★储存：7000多平米的仓储面积，1亿码洋的实物库存。夯实的库房、充足的货源验证了北京和文天下的供货能力和备货实力。宽敞的储存大厅，能确保及时、迅速的将图书送到指定地点。</p>
                        <p>★分拣与配货：我公司有专业的分拣及配货队伍，根据客户所需的图书清单进行分拣图书，以及按需配货。保证按客户订单要求发货，保证所选书得准确性。</p>
                        <p>★打包：根据订单找到的书归类，并在打完包之后称重标准，保证了所发图书不错包，不漏包。根据贵方要求打包，并附一包一单和总清单，以方便验货。</p>
                        <p>★配送运输：专车送货，服务完善。承运人凭送货清单到仓库提货，分拣部做相应的出库处理。装车完毕后，根据所送客户数打印出相应的送货单。送货过程中，我公司安排一人与承运人一同把货送到指定地点，并由我公司授权代理人在现场接货。卸货完毕后，与采购方一同验收。</p>
</div>
</li>  
             					<li id="tab_con_3">
             						<div  style="text-indent: 2em;"><h4 style="text-align:center">营销服务</h4><br>
          							<p>为提高企业的综合效益和产品服务水平，我们采用了行业先进的ERP企业资源规划系统，使企业能够有效地对包括采购、加工、仓储、生产、物流、财务等信息资源和数据实时进行统筹、计算、分析、共享和管理。同时建立了强大的产品数据库，可实时快速地标底各种产品信息和产品报价，实现了与ERP系统的完美整合。</p>
                        <p>专业化的服务需要科学化的管理。我们始终不断优化产品的生产和业务管理流程、制定完善的激励机制和管理制度，使我们的产品从质量到净化期都得到了保障。在提高客户满意度的同时，我们还实施阳光工程，它体现在产品、销售、服务的全过程、全方位、全时空。</p>
                        <p>全体职工共同打造，一线二线紧密配合，让客户感受到和谐、友爱、温馨。我们的每位员工都懂得，自己的行为代表着企业的形象。我相信通过不断深化阳光工程的 服务理论，使我们服务上步入品牌化、标准化、系统化阶段。在激烈的市场竞争中我们将以更加饱满的热情、更加精湛的服务技能、更加完善的服务质量为客户提供 优质、高效的服务。把微笑融入服务，把微笑留给客户。通过服务体现出企业的文化精神和素养，体现了企业的理念，体现出一个有作为的员工的人生理想和追求。心提供大量的潜在客户信息。</p>
                       
</div>
             						
             						
             						
             						
             						</li>  
       					</ul>  
   							</div>
   						</div>
				</div>
					
				
			</div>

		<!-- =Footer -->
		
		<footer id="footer">
			<div class="foot">
			<img style="border: none;margin: 0;padding: 0;" src="/static/images/footer.png" height="80" alt="和文">
	
			
			</div>
		</footer>
	
	</div><!-- #wrapper -->
	
	
	<!-- Javascript at the bottom for fast page loading -->	
	
	<!-- Grab Google CDN's jQuery. fall back to local if necessary -->
	<script src="/static/js/jquery.min.js"></script>
	<script>!window.jQuery && document.write('<script src="/static/js/jquery-1.4.2.min.js"><\/script>')</script>
	
	<!-- =Menu -->
	<script src="/static/js/nt_nav.js"></script>

	<!-- =Contact -->
	<script src="/static/js/contact.js"></script>
	
	<!-- =styleswitcher -->
	<script src="/static/js/styleswitcher.js"></script>
	
	<!-- =Prettyphoto -->
	<script src="/static/js/jquery.prettyPhoto.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			$("a.portfolio_item[rel^='prettyPhoto'], a.isphoto_m[rel^='prettyPhoto'], a.isphoto_b[rel^='prettyPhoto'], a.isvideo_m[rel^='prettyPhoto'], a.isvideo_b[rel^='prettyPhoto'], a.islink_mini[rel^='prettyPhoto'], a.islink_m[rel^='prettyPhoto']").prettyPhoto({
			animationSpeed: 'slow',
			theme: 'nitro_dark_rounded',
			slideshow: 4000,
			autoplay_slideshow: false});
		});
	</script>

 <script type="text/javascript">  
   function switchTab(n){  
    for(var i = 1; i <= 3; i++){  
    document.getElementById("tab_" + i).className = "";  
     document.getElementById("tab_con_" + i).style.display = "none";  
    }  
    document.getElementById("tab_" + n).className = "on";  
    document.getElementById("tab_con_" + n).style.display = "block";  
   }  
   </script>  




	<!-- =Cufon -->
	<script src="/static/js/cufon-yui.js?v=1.09"></script>
	<script src="/static/js/lab.font.js"></script>

	<!-- Call =Coin Slider -->
	<script src="/static/js/coin-slider.min.js"></script>
	<script type="text/javascript">
	$(document).ready(function() {
		$('#coin-slider').coinslider({
			width: 960, // width of slider panel
			height: 459, // height of slider panel	// 459 default -1px for img margins error
			spw: 4,  // squares per width - 5 by default
			sph: 2, // squares per height - 3 by default
			delay: 3000, // delay between images in ms - 3000 by default
			sDelay: 30, // delay beetwen squares in ms - 30 by default
			opacity: 0.8, // opacity of title and navigation - 0.8 by default
			titleSpeed: 500, // speed of title appereance in ms - 500 by default
			effect: '', // random, swirl, rain, straight - empty by default
			navigation: true, // prev next and buttons - true by default
			links : true, // show images as links - true by default
			hoverPause: true // pause on hover - true by default
		});
	});
	</script>
	
	<!-- =Tooltip -->
	<script src="/static/js/tooltip.min.js"></script>
	<script type="text/javascript">
	jQuery(function() {
		//tooltip
		$("a .tooltip").addClass("tooltip");
		tooltip();  		
	});
	</script>
	
	<!-- =Truncate -->
	<script src="/static/js/jquery.jtruncate.pack.js"></script>
	<script type="text/javascript">
	$().ready(function() {  
		$('h4.title').jTruncate({  
			length: 14,
			minTrail: 0,
			moreText: "", //[see all]
			lessText: "", //[hide extra]
			ellipsisText: "", // (truncated)
			moreAni: "", // fast
			lessAni: 2000
		});
	});
	</script>


</body>
</html>